<div
  class="d-flex flex-column justify-content-center align-items-center img-sfondo alt"
>
  <h1 class="text-white my-5">
    Benvenuto su BarberShop,
    <span class="colore-text-verde">{{ nomeCliente }} 👋</span>
  </h1>

  <div class="d-flex">
    <!-- Bottone per il Portfolio del barbiere -->
    <button class="button me-3" (click)="apriModale(modaleAppuntamenti)">
      <span class="button_lg">
        <span class="button_sl"></span>
        <span class="button_text">I tuoi appuntamenti</span>
      </span>
    </button>

    <!-- Modale per visualizzare gli appuntamenti -->
    <ng-template #modaleAppuntamenti let-modal>
      <div class="modal-header">
        <h5 class="modal-title">I tuoi appuntamenti</h5>
        <button
          type="button"
          class="btn-close"
          aria-label="Close"
          (click)="modal.dismiss()"
        ></button>
      </div>
      <div class="modal-body">
        <div *ngIf="appuntamenti.length > 0">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Barbiere</th>
                <th scope="col">Data e Ora</th>
                <th scope="col">Servizio</th>
                <th scope="col">Prezzo</th>
                <th scope="col">Nota</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let appuntamento of appuntamenti">
                <td>{{ appuntamento.barbiereNome }}</td>
                <td>{{ appuntamento.dataOra | date : "short" }}</td>
                <td>{{ appuntamento.servizioNome }}</td>
                <td>€{{ appuntamento.servizioPrezzo }}</td>
                <td *ngIf="appuntamento.nota; else noNota">
                  {{ appuntamento.nota }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div *ngIf="appuntamenti.length === 0" class="text-center">
          <p>Non hai appuntamenti programmati.</p>
        </div>
      </div>
    </ng-template>

    <ng-template #noNota>
      <span>-</span>
    </ng-template>

    <!-- From Uiverse.io by vinodjangid07 -->
    <button class="Btn" (click)="logout()">
      <div class="sign">
        <svg viewBox="0 0 512 512">
          <path
            d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"
          ></path>
        </svg>
      </div>

      <div class="text">Logout</div>
    </button>
  </div>

  <!-- Barra di ricerca -->
  <p class="colore-text-verde mt-3">Cerca il salone del tuo barbiere</p>
  <div class="search-container">
    <div class="search-bar">
      <input
        type="text"
        class="search-input"
        placeholder="Nome del salone..."
        [(ngModel)]="ricercaInput"
        (keydown.enter)="cercaBarbiere()"
      />
      <div (click)="cercaBarbiere()" class="search-icon">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="24"
          viewBox="0 0 24 24"
          width="24"
        >
          <path d="M0 0h24v24H0z" fill="none"></path>
          <path
            d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zM9.5 14C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"
          ></path>
        </svg>
      </div>
    </div>
  </div>

  <!-- Mostra errori -->
  <div *ngIf="erroreRicerca" class="text-danger mt-3">{{ erroreRicerca }}</div>

  <!-- Risultati della ricerca -->
  <div *ngIf="risultatiRicerca.length > 0" class="mt-5">
    <h3 class="text-white">Risultati trovati:</h3>
    <div class="d-flex flex-wrap justify-content-center mt-3">
      <div *ngFor="let barbiere of risultatiRicerca" class="card m-2">
        <div class="image">
          <img
            [src]="barbiere.avatar || 'default-avatar.png'"
            alt="Foto del barbiere"
            class="img-profilo"
          />
        </div>
        <div class="card-info">
          <span>{{ barbiere.nome }} {{ barbiere.cognome }}</span>
          <p>{{ barbiere.nomeSalone }}</p>
        </div>
        <button [routerLink]="['/cliente/prenota', barbiere.id]" class="button">
          Profilo
        </button>
      </div>
    </div>
  </div>
</div>
